{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}

{% set handle = entry.section.handle %}

{% if handle == 'homepage' %}
	{% for entry in craft.entries.section('shows').showFeaturedOnHomepage(1).order('showDateEnd').limit(1) %}
	{% set image = entry.showHomepageFeaturedImage.first() %}
	{% endfor %}

{# Everything else #}
{% else %}
	{% set image = entry.showHomepageFeaturedImage.first() %}

{% endif %}

{% if image %}
<header style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/{{ image.url }}) no-repeat center center; background-size: cover;">
{% else %}
<header>
{% endif %}
	<div class="nav">
		hi
	</div>
	
	{# if homepage #}
	<div class="featuredShow">
		hello2
	</div>

</header>
