{% set menu = craft.entries.section('navigation') %}


{% for entry in craft.entries.section('navigation') %}
	<ul> 
		{% for block in entry.navigationLink %}
			<li>
			{% if block.type == "navLink" %}
				{% if block.isHome %}
					<img src="/assets/images/OZ-home-Icon.svg" alt="">
				{% endif %}
		         <a href="{{ block.linkUrl }}">{{ block.linkTitle }}</a>
		    {% endif %}
		    </li> 
		{% endfor %}
	</ul>
{% endfor %}