{#
 # Secondary header
 # -------------------
 #}


{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}


{% set image = entry.showPageHeaderImage.first() %}

<div id="secondaryHeader" style="background:url(/{{ image.url }}) no-repeat center center; background-size: cover;">
	
	<div id="nav">
		<a href="" id="logo">test</a>
		<ul>
			<li><a href="">Link 1</a></li>
			<li><a href="">Link 2</a></li>
			<li><a href="">Link 3</a></li>
			<li><a href="">Link 4</a></li>
		</ul>
	</div>
	
	

</div>

