{#
 # Secondary header
 # -------------------
 #}


{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}


{% set image = entry.showHomepageFeaturedImage.first() %}
{% if image %}
<div id="secondaryHeader" style="background:url(/{{ image.url }}) no-repeat center center; background-size: cover;">
{% else %}
<div id="secondaryHeader">
{% endif %}
	
	<div id="nav">
		
		{% for image in craft.assets.title('Oz Logo') %}
		    <a href="" id="logo"><img src="/{{ image.getUrl() }}" alt="{{ image.title }}"></a>
		{% endfor %}


		{% include "_nav.twig" %}
	</div>
	
	

</div>

