// My variables
// $base-font-size: 16px;


@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400,700|Alef');
body {
	font-family: $base-font-family;
	font-weight: 300;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: #AAA;
}

a {
	text-decoration: none;
	font-weight: bolder;
	color: #000;
}

a:hover {
	color: rgba(0, 0, 0, 0.7);
}

.largeOnly {
	display: none !important;

		@include media($medium-screen) {
			display: inline-block !important;
		}
}

.mobileOnly {
	display: inline-block !important;

		@include media($medium-screen) {
			display: none !important;
		}
}

.ticketButton {
	display: inline-block;
	padding: 15px;
	margin: $basic-margin*2 0 0 0;
	width: 180px;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: $small-font-size;
	text-align: center;;
	letter-spacing: 3.1px;
	transition: color 0.1s linear;
	transition: background 0.1s linear;

	&:hover {
		text-decoration: none;
		background: #bbb;
	}

	&:active,
	&:focus {
		color: $link-hover-color;
	}
}


// HEADER
header {
	@include outer-container;
	background: #fff;

	#logo {
		img {
			height: 60px;
		}
	}
	
	a {
		color: #000;
		&:hover {
			font-weight: bolder;
		}
		&:visited {
			color: #ccc;
		}
	}

	#nav {
		@include span-columns(12);
		display: flex;

		@include media($medium-screen) {
			justify-content: space-between;
			align-items: center;
		}
		
		#logo {
			padding: 30px 30px;
			@include media($medium-screen) {
				padding: 30px 40px;
			}
		}

		ul {
			list-style-type: none;
			margin: 0 $basic-margin;

			li {
				display: inline-block;
				text-align: center;
				a {
					display:inline-block;
					font-size: $small-font-size;
					text-transform: uppercase;
					transition: font-weight 0.1s linear;
					text-align: center;

					&:hover {
						font-weight: 700;
						color: #fff;
					}
				}
				@include media($medium-screen) {
					padding: 0 15px;

				}
			}
		}
		&.darkNav {
			a {
				color: #000;
				&:hover{
					color: #2d2d2d;
				}
			}
		}
	}

}

// HOMEPAGE
#featuredBG {
	@include outer-container;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-items: space-between;

	a { 
		margin-left: auto;
		margin-right: auto;
		margin-top: -$basic-margin;
		text-align: center;

		h1, h3 {
			color: #fff;
		}

		#dateRange {
			margin-top: $basic-margin;
			color: #ccc;
		}
		.ticketButton {
			display: inline-block;
			padding: 15px;
			margin: $basic-margin 0 0 0;
			width: 180px;
			background: #2d2d2d;
			color: #fff;
			&:hover {
				text-decoration: none;
				background: #bbb;
			}
		}
	} 


}

#showList {
	margin: $basic-margin*3 0;
	h2 {
		margin-bottom: $basic-margin;
		// margin-right: $basic-margin;
	}

	.show {
		@include span-columns(12);
		margin: $basic-margin 0;

		.left {

			h2 {
				margin-bottom: 0;
				margin-right: 0;
				font-size: 30px;
			}

			.locale {
				font-weight: 700;
				margin-top: 10px;
				margin-bottom: 5px;
			}

			@include media($medium-screen) {
				@include span-columns(4);
			}

			ul {
				list-style-type: none;
				padding: 0;
				li {
					margin: 0;
				}
			}
		}
		.right {

			margin-top: $basic-margin;

			.showThumb {
				min-height: 320px;
				margin: $basic-margin 0;
				
			}
			// Reduce amrgin for button on representation.
			.ticketButton {
				margin-top: $basic-margin;
			}

			@include media($medium-screen) {
				@include span-columns(8);
				margin-top: 0;
			}

			
		}
	}
}


//  SHOW PAGE

#showTitle {
	@include span-columns(12);
	margin-bottom: $basic-margin/2;
	margin-top: $basic-margin*2;

	@include media($medium-screen) {
	    @include span-columns(8);
	    @include shift(4);
	}

	h1 {
		@include media($medium-screen) {
			margin-top: $basic-margin;
		}
	}
	h3 {
		margin: 0;
	}
	a {
		margin-top: $basic-margin 
	}

}

#content {
	@include outer-container;

	.tickets {
		@include span-columns(12);
		padding-top: 40px;
		padding-bottom: 100px;

		@include media($medium-screen) {
	         @include span-columns(4);
	         @include shift(-12);
	         padding-top: 0;
	    }
		
		h2 {
			margin: $basic-margin auto 0 10px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {
				display: block;
				a{
					display: block;
					padding: $basic-margin 30px $basic-margin 10px;
					border-bottom: 1px #eee solid;
					background: url('../assets/images/Ticket-Icon-Inactive.svg') no-repeat right 10px center;
					
					#theater {
						font-weight: 700;
						margin-bottom: 0;
					}
					#showTime {
						font-size: 0.8em;
						margin-bottom: 0;
					}

				}
				a:hover {
					color: #000;
					background: url('../assets/images/Ticket-Icon-Active.svg') #eee no-repeat right 10px center;
				}
			}
		}
	}

	.showInfo {
		@include span-columns(12);
	    @include media($medium-screen) {
	        @include span-columns(8);
	        @include shift(4);

	    }
		iframe {
			margin: $basic-margin/2 auto;
			min-height: 300px;
			 @include media($medium-screen) {
				min-height: 400px;
	    	}
		}
	    p {
			margin: $basic-margin/2 0;
		}
		h2 {
			text-align: center;
			margin: $basic-margin auto 0 auto;
		}
		#quoteSource {
			text-align: center;
			margin: $basic-margin/2 auto $basic-margin auto;
		}
		img {
			margin: $basic-margin/2 auto;
		}
	}

}


//  OTHER PAGES
#map {
	@include outer-container;
	height: 400px;
	width: 100%;
	margin-bottom: $basic-margin;
}
.singleTitle {
	margin-top: $basic-margin*2;
}

#about {
	
	h2 {
		@include span-columns(12);
	    @include media($medium-screen) {
	        @include span-columns(8);
	        // @include shift(4);

	    }
	}

	p {
		@include span-columns(12);
	    @include media($medium-screen) {
	        @include span-columns(8);
	        // @include shift(4);

	    }
	}
}