// LIBRARIES & HELPERS
@import "bourbon";
@import "neat";
@import "neat-helpers";

// // BASE STYLES
@import "base/variables";
@import "base/grid-settings";

@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url('https://fonts.googleapis.com/css?family=Alef');
//  TYPOGRAPHY

body {
	color:        $body-color;
	font-family:  $hebrew-sans-font-family;
	font-size:    $base-font-size;
	// line-height:  $base-line-height * 1.05;
	direction: rtl;
	text-align: right;	
}

h1 {
	font-size: $huge-font-size; // 64px
	font-family: $hebrew-serif-font-family;
	font-weight: 300;
}

h2 {
	font-size: $large-font-size; // 36px
	font-family: $hebrew-serif-font-family;
	font-weight: 300;
}

h3 {
	font-size: $small-font-size; // 12px
	font-family: $hebrew-sans-font-family;
	letter-spacing: 0.4px;
	font-weight: 300;
}



//  SHOWS

#showTitle {
	@include media($medium-screen) {
     @include shift(0);
  }
}

#content {
	@include outer-container;

	.tickets {
		@include span-columns(12);

		@include media($medium-screen) {
	        @include span-columns(4);
	        @include shift(0);
	    }
		h2{
			margin: $basic-margin 10px 0 auto;
		}
	    ul {
			li {
				a{
					padding: $basic-margin 10px $basic-margin 30px;
					background: url('../assets/images/Ticket-Icon-Inactive.svg') no-repeat left 10px center;
				}
				a:hover {
					background: url('../assets/images/Ticket-Icon-Active.svg') #eee no-repeat left 10px center;
				}
			}
		}
	}

	.showInfo {
		@include span-columns(12);
 
	      @include media($medium-screen) {
	         @include span-columns(8);
	         @include shift(0);

	      }
	}

}