@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");
@import url("https://fonts.googleapis.com/css?family=Alef");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  color: #333333;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1em;
  direction: rtl;
  text-align: right; }

h1 {
  font-size: 4em;
  font-family: "Alef", sans-serif;
  font-weight: 300; }

h2 {
  font-size: 2.25em;
  font-family: "Alef", sans-serif;
  font-weight: 300; }

h3 {
  font-size: 0.75em;
  font-family: "Open Sans Hebrew", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 300; }

@media screen and (min-width: 37.5em) {
  #showList .show .left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    float: right; }
    #showList .show .left:last-child {
      margin-right: 0; } }

@media screen and (min-width: 37.5em) {
  #showList .show .right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    #showList .show .right:last-child {
      margin-right: 0; } }

@media screen and (min-width: 37.5em) {
  #showTitle {
    margin-left: 0%; } }

#content {
  max-width: 71.11111em;
  margin-left: auto;
  margin-right: auto; }
  #content::after {
    clear: both;
    content: "";
    display: block; }
  #content .tickets {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #content .tickets:last-child {
      margin-right: 0; }
    @media screen and (min-width: 37.5em) {
      #content .tickets {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-left: 0%; }
        #content .tickets:last-child {
          margin-right: 0; } }
    #content .tickets h2 {
      margin: 20px 10px 0 auto; }
    #content .tickets ul li a {
      padding: 20px 10px 20px 30px;
      background: url("../assets/images/Ticket-Icon-Inactive.svg") no-repeat left 10px center; }
    #content .tickets ul li a:hover {
      background: url("../assets/images/Ticket-Icon-Active.svg") #eee no-repeat left 10px center; }
  #content .showInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #content .showInfo:last-child {
      margin-right: 0; }
    @media screen and (min-width: 37.5em) {
      #content .showInfo {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 0%; }
        #content .showInfo:last-child {
          margin-right: 0; } }
