// Font Families
///////////////////////////////////////////////////////////////////////////////

$base-font-family: 'Open Sans', sans-serif;
$serif-font-family: 'Merriweather', serif;
$header-font-family: $serif-font-family;

$hebrew-sans-font-family: 'Open Sans Hebrew', sans-serif;
$hebrew-serif-font-family: 'Alef', sans-serif;
$header-header-font-family: $hebrew-serif-font-family;

// Default Sizes

$line-height-multiplier: 1.5;

$base-font-size-px:  16;
$base-font-size:     em($base-font-size-px);
$base-line-height:   $base-font-size * $line-height-multiplier;
$base-border-radius: em(3);

$small-font-size-px:  12;
$small-font-size:     em($small-font-size-px);
$small-line-height:   $small-font-size * $line-height-multiplier;

$large-font-size-px:  36;
$large-font-size:     em($large-font-size-px);
$large-line-height:   $large-font-size * $line-height-multiplier;

$huge-font-size-px:  64;
$huge-font-size:     em($huge-font-size-px);
$huge-line-height:   $huge-font-size * $line-height-multiplier;

//// Colors

// Text
$body-color:    #333333;
$heading-color: $body-color;
$main-bg-color: #ffffff;

// Links
$link-color: #3a3ccc;
$link-hover-color: lighten($link-color, 15);

// Borders
$border-color: lighten($body-color, 50);
$border-color-hover: $body-color;
$border-color-focus: $link-color;


// My variables
$basic-margin: 20px;